---
import TablerIcon from "../components/TablerIcon.astro";
import { type MarkdownHeading } from "astro";
import { t } from "../lib/i18n";

import "./tableofcontents.css"

type Props = {
  locale: string;
  content: MarkdownHeading[];
};

const { locale, content } = Astro.props;
---

<nav>
  <a class="article-top" href="#"
    ><TablerIcon icon="arrow-back-up">
      <span>{t(locale, "content.top")}</span>
    </TablerIcon></a
  >
  <hr />

  {
    content.length > 0 && (
      <ul class="contents-list">
        {content.map((h) => {
          return (
            <li>
              <a href={`#${h.slug}`}>
                {h.text.startsWith("#") ? h.text.substring(1) : h.text}
              </a>
            </li>
          );
        })}
      </ul>
    )
  }
</nav>
