body {
  color: var(--color-inv-base);
}

.wiki-title {
  align-items: center;
  gap: 0.25rem;
  color: var(--color-inv-base);
  text-decoration: none;
  display: flex;

  & img {
    width: 25px;
    height: 25px;
  }
}

.inline-video {
  display: block;
  margin-inline: auto;
  max-width: 100%;
  width: 520px;
  min-height: 300px;
}

.lazy-video {
  display: none;
}
